* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(51, 51, 74, 0.822);
}
.full-body {
  height: 90vh;
  width: 35vw;
  background-color: rgba(88, 156, 121, 0.329);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1.6rem;
  box-shadow: 8px 9px 14px rgb(48, 45, 45), -5px -5px 10px rgb(175, 166, 162);
  overflow: auto;
}
.navbar {
  height: 17%;
  width: 100%;
  background-color: grey;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  border-radius: 1.6rem 1.6rem 0 0;
}
.anchor {
  text-decoration: none;
  color: antiquewhite;
  font-size: 1rem;
  margin-right: 1rem;
}
.anchor:hover {
  color: #ff6600;
}
.content {
  height: 83%;
  width: 100%;
  background-color: #ca9e81;
  border-radius: 0 0 1.6rem 1.6rem;
}
.page {
  font-size: 1.2rem;
  color: #425b6e;
  font-weight: 600;
  line-height: 1.5;
  margin: 1rem;
  padding: 1rem;
}
img {
  float: right;
  width: 120px;
  height: 120px;
  margin-left: 1rem;
}
.para {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5;
  gap: 20px;
}
.name {
  font-weight: 900;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #283b49;
  font-size: 1.6rem;
}
span {
  color: #664936;
  font-size: 1.7rem;
}
span:hover {
  color: rgb(13, 77, 77);
}
.discription {
  font-size: 1.3rem;
  color: #273e2f;
  font-weight: 600;
}
h2 {
  color: #283b49;
}
h3 {
  color: #664936;
}
h3:hover {
  color: rgb(13, 77, 77);
}
.qualification-card p {
  font-size: 1.3rem;
  font-weight: 700;
}
ul li {
  font-size: 1.2rem;
}
