* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(
    45deg,
    rgba(128, 0, 128, 0.714),
    rgba(76, 0, 130, 0.909),
    rgba(255, 0, 255, 0.861)
  );
}
.full-Changer {
  width: 40%;
  height: auto;
  background-color: rgba(136, 123, 148, 0.268);
  margin-bottom: 30px;
  border-radius: 20px;
  box-shadow: 8px 7px 10px rgb(81, 48, 84), -5px -5px 10px rgb(198, 154, 209),
    inset -8px -7px 10px rgb(76, 44, 79);
}
h1 {
  font-size: 3rem;
  color: transparent;
  text-align: center;
  margin: 2rem;
  border-bottom: 4px solid rgb(50, 50, 50);
  background-image: linear-gradient(
    45deg,
    rgba(45, 196, 163, 0.714),
    rgba(141, 55, 202, 0.909),
    rgba(214, 74, 28, 0.861)
  );
  background-clip: text;
}
.text-area {
  color: rgba(193, 81, 184, 0.762);
  font-size: 2rem;
  font-weight: bold;
  /* background-color: rgba(99, 145, 146, 0.342); */
  background: transparent;
  width: 100%;
  height: 40vh;
  border: none;
  outline: none;
  margin: 2rem;
}
.menu {
  width: 4rem;
  height: auto;
}
.listen {
  width: 6rem;
  height: auto;
}
.btn-menu {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.btn {
  width: 26%;
  height: 10vh;
  border: none;
  outline: none;
  border-radius: 30px;
  overflow: hidden;
}
.listen {
  height: 10vh;
  width: auto;
  background-size: cover;
  border-radius: 20px;
}
.selector {
  flex: 1;
  height: 8vh;
  background: rgba(233, 229, 235, 0.935);
  border-radius: 20px;
  border: 2px solid rgb(39, 28, 39);
  outline: none;
  appearance: none;
  background-image: url(menuLogo.jpg);
  background-repeat: no-repeat;
  background-size: 2rem;
  background-position: 99%;
}
